/* estilos.css */
body {
    font-family: sans-serif;
    margin: 30px;
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #999;
    padding: 8px;
}

th {
    background-color: #ccc;
}

form {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
}